<!--
  <div class="login">
    <h1>Member Login</h1>
    <form>
      <label>Email:</label>
      <input
        type="email"
        placeholder="cat@example.com"
        required
        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$"
      />
      <!-- <mat-error
      *ngIf="(emailFormControl.dirty || emailFormControl.touched) && !emailFormControl.errors?.['required'] && emailFormControl.errors?.['email']"
    >
      Please enter a valid email
    </mat-error>
    <mat-error
      *ngIf="(emailFormControl.dirty || emailFormControl.touched) && emailFormControl.errors?.['required']"
    >
      Email is <strong>required</strong>
    </mat-error>
      <p>{{ emailFormControl.value }}</p>
      <label>Password:</label>
      <input type="password" placeholder="*******" required />
    </form>
    <input type="checkbox" />Remember Me
    <br />
    <a routerLink="/cat/{{ cat.id }}">
      <button>Login</button>
    </a>
    <br />
    <a href="#">Forgot Username or Password?</a>
  </div> -->

  <mat-card>
    <mat-card-header>
      <h1>Login</h1>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form" [formGroup]="loginForm" (ngSubmit)="proceedLogin()">
        <div>
          <mat-form-field class="example-full-width">
            <mat-label>User Name</mat-label>
            <input matInput formControlName="username">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password">
          </mat-form-field>
        </div>
        <div>
          <button mat-raised-button color="primary">Login</button>
          <a routerLink="/sign-up" mat-raised-button color="accent">Create Account</a>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
