
  <div class="login">
    <h1>Member Login</h1>
    <form>
      <label>Email:</label>
      <input
        type="email"
        placeholder="cat@example.com"
        required
        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$"
      />
      <!-- <mat-error
      *ngIf="(emailFormControl.dirty || emailFormControl.touched) && !emailFormControl.errors?.['required'] && emailFormControl.errors?.['email']"
    >
      Please enter a valid email
    </mat-error>
    <mat-error
      *ngIf="(emailFormControl.dirty || emailFormControl.touched) && emailFormControl.errors?.['required']"
    >
      Email is <strong>required</strong>
    </mat-error> -->
      <p>{{ emailFormControl.value }}</p>
      <label>Password:</label>
      <input type="password" placeholder="*******" required />
    </form>
    <input type="checkbox" />Remember Me
    <br />
    <a routerLink="/cat/{{ cat.id }}">
      <button>Login</button>
    </a>
    <br />
    <a href="#">Forgot Username or Password?</a>
  </div>

