<!-- <form (ngSubmit)="onButtonClicked()">
    <div>
      <label for="email">
        Email:
      </label>
      <input id="email" name="email" type="email"/>
    </div>
    <div>
      <label for="password">
        Password
      </label>
      <input id="password" name="password" type="password" />
    </div>
    <div>
      <label for="name">
        Name:
      </label>
      <input id="name" name="name" type="text"/>
    </div>
    <div>
      <label for="description">
        Description
      </label>
      <input id="description" name="description" type="text" />
    </div>
    <button type="submit">{{buttonText}}</button>
</form> -->

<mat-card>
  <mat-card-header>
    <h1>Join CatSpace</h1>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form" [formGroup]="registrationForm" (ngSubmit)="proceedRegistration()">
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>User Name</mat-label>
          <input matInput formControlName="id">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input type="password" matInput formControlName="password">
        </mat-form-field>
      </div>
     <div>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
     </div>
      <div>
        <mat-radio-group formControlName="gender" aria-label="Gender">
          <mat-radio-button value="male">Male</mat-radio-button>
          <mat-radio-button value="female">Female</mat-radio-button>
        </mat-radio-group>
      </div>
      <div>
        <button mat-raised-button color="primary">Submit</button>
        <a routerLink="/login" mat-raised-button color="accent">Back to Login</a>
      </div>
    </form>
  </mat-card-content>
</mat-card>

