<div class="home">
    <div class="home_content-container">
        <div class="home_content-container_left">
            <div class="home_content-container_left_top">
                <div class="home_content-container_left_top">
                    <mat-card>
                        <mat-card-header>New Cats</mat-card-header>
                        <mat-card-content>
                            <div *ngFor="let cats of newCats" class="new-cats">
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="home_content-container_left_middle">
                    <mat-card>
                        <mat-card-header>CatSpace Music</mat-card-header>
                        <mat-card-content>
                            <div class="music"></div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="home_content-container_left_bottom">
                    <mat-card>
                        <mat-card-header>Fact Of The Day</mat-card-header>
                        <mat-card-content>
                            <div *ngFor="let facts of catFacts" class="facts"></div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
        <div class="home_content-container_right">
            <div class="logo"></div>
            <div class="login">
              <a routerLink="/login">
                <button>Login</button>
              </a>
            </div>
            <div class="login">
              <a routerLink="/sign-up">
                <button>Create Profile</button>
              </a>
            </div>
        </div>
    </div>
    <div class="home_bottom-nav-container">
        <div class="about"></div>
        <div class="faq"></div>
        <div class="contact"></div>
    </div>
</div>
